/* CSS */

*{
    font-family: calibri;
    margin: 0;
    padding: 0;
}

header{
    background-color: white;
    padding: 10px;
    height: 70px
}

footer{
    background-color:white;
    min-height: 35px;
    clear: both;
    text-align: center;
    padding: 10px 0px 0px 10px;
}

h1{
    margin: 0 0 60px 0;
    text-align: center;
    text-shadow: 1px 10px 10px #111111;
}

p{
    color:white;
    text-shadow: 1px 10px 10px #111111;
}

/* CLASS */
.container{
    width: 1280px;
    margin: 0 auto;
}

.efeito{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 80px 0 80px 0;
}

/* ID */
#divprincipal{
    min-height: 594px;
    background-image: url(City-of-the-future2.jpg);
    background-size: 100%;
    color: white;
    padding: 60px 0 0 0;
    clear: both;
}

#logo{
    float: left;
}

#menu{
    float: right;
    margin-top: 5px;
    box-shadow: 1px 1px 10px #999999;
    border-radius: 20px;
    padding: 20px 0;
}

#menu a{
    text-decoration: none;
    color: rgb(46, 84, 162);
    /*text-shadow: 1px 1px 1px #999999;*/
    padding: 20px 70px;
}

#menu a:hover{
    background-color:rgb(46, 84, 162);
    color: white;
    border-radius: 20px;
    -webkit-transition: 0.6s;
}